/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}


/*css voor hele html*/
html {
    --black: #1E1A3B;
    --darkblue: #002E5E;
    --grey: #4C5E71;
    --green: #A2D2B4;
    --gold: #AF986D;

    margin: 0;
    padding: 0;


}


/*button css weghalen*/
/*https://www.codegrepper.com/code-examples/actionscript/css+remove+styling+from+button*/
button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}


button:focus {
    outline: 0;
}

/*einde button css weghalen*/

body {
    background-color: #fcfdf7;
    font-family: 'Open Sans', sans-serif;
    margin: 1rem;
    color: var(--darkblue);


}

/*css voor toegankelijkheid*/
/*links*/
a {
    transition: all 0.3s ease;
}

a:visited {
    color: DarkSlateBlue;
}

a:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);

}

a:hover {
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
}

/*buttons*/

button:hover {
    cursor: pointer;
    /color: white;
    /background-color: lightblue;
    /border-color: lightblue;
}

button:focus {
    background-color: lightblue;
    border: lightblue;
}

/*https://levelup.gitconnected.com/a11y-visually-hidden-elements-aea4ee784142*/
.visuallyhidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/*css voor de header dus het gedeelte bovenaan beide pagina's*/


header > nav > ul {
    border-bottom: solid thin var(--grey);
    padding: 1rem 0;
    display: flex;
    list-style: none;
    align-items: flex-end;
    justify-content: space-between;


}


header > nav > ul > li > img {
    width: 6rem;

}


header > nav > ul > li > button:first-of-type {
    padding-right: 3rem;
}

header > nav > ul > li > a:first-of-type {
    padding-right: 1rem;
}


main > h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
    letter-spacing: -0.04rem;

}


/*css voor filteren en sorteren buttons velours pagina*/
.filteren_sorteren h3 {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;

}

section.filteren_sorteren {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fcfdf7;

}


.filteren_sorteren button {
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem .5rem;
    text-transform: capitalize;
    border: solid thin var(--black);
    color: var(--grey);
    padding: .8rem 3rem;
    width: 50%;
    border-radius: .8rem 0 .8rem 0;
    /background-color: #fcfdf7;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease;
}

main > section .producten {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

/*css voor informatie aantal artikelen*/

.info_artikelen {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: .8rem;

}

.info_artikelen p {
    margin: 0 0 0 .5rem;
    font-size: .8rem;
    font-family: 'Open Sans', sans-serif;

}

.info_artikelen form {
    margin-right: .5rem;


}

.info_artikelen > form > select {
    border: none;
    color: var(--black);
    cursor: pointer;

}

.info_artikelen > form > label {
    font-size: .8rem;
}

/*css voor de main, overzichts pagina*/

.info_artikelen {
    color: var(--grey);
    font-size: .9rem;

}

section.producten {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

section > article {
    padding: 0.5rem;
    justify-content: space-between;
    width: 100%;
}

section > article > a > img {
    width: 100%;
}

a:link {
    text-decoration: none;
}

h3 {
    color: var(--grey);
    font-family: 'Crimson Text', serif;
    font-size: .9rem;
    text-transform: capitalize;
}

article > a > h3 {
    margin: 0;
}


.producten article p {
    color: var(--black);
    font-weight: 1000;
}

.color {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    border: thin solid lightgrey;
    padding: .3em;
}

/*main voor de detailpagina*/

.detail img:first-of-type{
    width: 100%;
}

/body.detailpagina > main.detail > section > h2:first-of-type{
    background: none;

}

main.detail section h2 {
    text-transform: uppercase;
    color: var(--darkblue);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    background: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-position: right 3% bottom 50%;
    background-size: .8rem;
}

/main.detail section h2:first-of-type{
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
    font-weight: 800;
    display: inline-block;
    padding-bottom: 1rem;
    color: var(--darkblue)
}

.detail a:first-of-type {
    display: block;
    color: var(--grey);
    text-decoration: underline;
    font-size: 1rem;
    font-weight: thin;

}


.detail p {

    color: var(--darkblue);
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;


}
.detail h3{
    color: var(--darkblue);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.detail p:nth-of-type(3) {

    font-size: .9rem;
    font-weight: 100;
}

.detail a {
    color: var(--grey);
    text-decoration: underline;

}
.detail > section > div > h2{
    background: none;
}
/.detail form {
    padding: 1rem 0;
}

/.detail form input {
    display: block;
    width: 20%;
    padding: .8rem;
    border: .1rem solid #ccc;
    box-shadow: inset 0.1rem 0.1rem 0.3rem lightgrey;
    color: var(--darkblue);
    text-align: right;
}
.detail> section >div:nth-of-type(2){
    display: flex;
    justify-content: space-between;

}
.detail section:nth-of-type(2){

    position: fixed;
    left: 0;
    bottom: 0;
    /z-index: 45;
    width: 100%;
    padding: 0 1rem;
    /margin: 0;
    /box-sizing: border-box;
    box-shadow: 0 -0.05px 1rem rgba(8,5,6,.2);
    background-color: #fcfdf7;
}
.detail > section > button:first-of-type {
    margin-bottom:
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.030rem;
    color: var(--grey);
    border: solid thin var(--grey);
    background-color: white;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: .8rem 0 .8rem 0;
    box-shadow: none;
    background: url(../images/dark-dropdown-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 3% bottom 50%;
    background-size: .8rem;

}

.detail > section > button {
    margin: 1rem 0rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.030rem;
    color: white;
    border: solid thin var(--gold);
    background-color: var(--gold);
    padding: 1rem 2rem;
    width: 100%;
    border-radius: .8rem 0 .8rem 0;
    box-shadow: 0 0.20rem 0 0 #1e1a3c;

}

#heart {
    padding-right: 1rem;
    display: inline;
    width: 10%;
}

.detail section:nth-of-type(3) {
    border-bottom: solid thin var(--grey);
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;

}

.detail section:nth-of-type(3) ul
{
    list-style-type: none;
    padding: 1rem 0;
    color: var(--gold);
    font-weight: 400;
    font-size: .9rem;
    padding-top: 1rem;

}

.detail section:nth-of-type(3) ul li {
    /padding: .5rem 0;
}


.detail section:nth-of-type(4),
.detail section:nth-of-type(5),
.detail section:nth-of-type(6) {
    border-bottom: solid thin var(--grey);
}

.detail section:nth-of-type(8){
display: flex; }

.detail section:nth-last-of-type(4) table tr td {
    color: var(--darkblue);
    font-family: 'Crimson Text', serif;
}

.detail section table tr td:nth-of-type(odd) {
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
    font-weight: bolder;
    padding-right: 3rem;
    display: table;

}

.detail section table tr td:nth-of-type(even) {
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
    font-weight: normal;


}

/.detail section h3:nth-of-type(3) {
    color: var(--darkblue);
    font-size: 1.5rem;
    height: 1rem;
    width: 100%;
    position: relative;
    clip-path: none;
    overflow: visible;

}


/* css voor de footer*/
/* nieuwsbrief css*/
.nieuwsbrief {
    background-image: url(../images/newsletter-mobile2.png);
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
    text-align: center;
    padding: 1em;
    padding-bottom: 6.7em;
    max-width: 22em;
    margin-top: 10rem;
    color: var(--gold);

}

footer > section input[type=text] {
    width: 100%;
    padding: 1rem 1rem;
    margin: .5rem 0;
    display: inline-block;
    border: .1rem solid #ccc;
    box-shadow: inset 0.1rem 0.1rem 0.3rem lightgrey;

    box-sizing: border-box;
}

footer > section [type=submit] {
    width: 100%;
    background-color: var(--gold);
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    padding: .5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 1rem 0 1rem 0;
    cursor: pointer;
}

footer > section input[type=checkbox] {
    border-radius: 0;
}

.nieuwsbrief p {
    font-family: 'Crimson Text', serif;
    font-size: 1rem;
    color: var(--gold);
}

.nieuwsbrief a:link {
    color: var(--gold);
    text-decoration-line: underline;

}

.nieuwsbrief a:hover {
    text-decoration: none;
}


/* css voor navigatie in de footer */
#button{
    transition: all 0.3s ease;
    cursor: pointer;

}

.hide{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

footer{
margin-bottom: 18rem;}

.footer_nav button {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--darkblue);
    font-weight: 400;
    line-height: 1rem;
    transition: all 0.3s ease;
    padding: 0;
    width: 100%;
    text-align: left;
    background: url(../images/dark-dropdown-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 3% top 20%;
    background-size: .8rem;
    padding-bottom: 1rem;

}

.footer_nav ul {
    list-style: none;
    padding-left: 0;

}

.footer_nav nav > ul > li {
    margin-bottom: .3rem;
}

.footer_nav nav > ul > li > a {
    color: var(--darkblue);
    font-weight: 300;
    letter-spacing: .03rem;
    font-size: .8rem;
}

.footer_nav nav > ul > li > a:hover {
    text-decoration: underline;
    color: lightblue;
}

.footer_nav > section {
    border-bottom: solid thin var(--gold);
    padding-top: 1rem;
    margin-left: .5rem;
}

.footer_nav > section:last-of-type {
    border: none;
}

.footer_nav > section:nth-of-type(4) > h4 {
    color: var(--gold);
    font-weight: 100;
    text-transform: capitalize;
    font-size: .9rem;
    margin-bottom: .5rem;
}

footer p {

    font-weight: 100;
    font-size: .8rem;
    color: var(--grey);
    letter-spacing: .03rem;
    margin-bottom: .3rem;
    margin-top: 0;
}



footer section:nth-of-type(4) a:link {
    color: var(--grey);
    text-decoration: underline;
    font-weight: 100;
    font-size: .8rem;
    padding-bottom: .3rem;
}

footer section:nth-of-type(4) a:hover {
    color: lightgrey;


}

.logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

.logos img {
    padding: .5rem;
}

.privacy {
    display: flex;
    justify-content: center;

}

.privacy a {
    color: var(--grey);
    font-weight: 100;
    font-size: .8rem;
    padding: 1rem;
}

.social_media {
    display: flex;
    justify-content: center;



}

.social_media img {
    padding: 1rem;
}
